theo1/14282_14679_a1.pdf
theo1/report.aux
theo1/report.dvi
theo1/report.log
theo1/report.pdf
theo1/report.synctex.gz
theo2/14282_14679_a2.pdf
theo2/report.aux
theo2/report.bbl
theo2/report.blg
theo2/report.log
theo2/report.synctex.gz
theo4/14282_14679_a4.pdf
theo4/report/main.aux
theo4/report/main.log
theo4/report/main.pdf
theo4/report/main.synctex.gz
